@page "/Cart"
@inject ICartService cartservice
@inject IOrderService orderservice

<PageTitle>购物车</PageTitle>

@if(cakecart == null || cakecart.Count == 0)
{
	<span>@message</span>
}
else if (orderPlaced)
{
	<span>感谢你的下单</span>
}
else
{
	<div>
		@foreach (var item in cakecart)
		{
			<div class = "container">
				<div class = "image-wrapper">
					<img src="@item.Imgurl" class="image"/>
				</div>
				<div class="name">
					<h5><a href="/cake/@item.CakeId">@item.Name</a></h5>
					<span>@item.CakeType</span>
					<div>
						<input type="number" 
						value="@item.Quantity"
						@onchange="((ChangeEventArgs e)=>UpdateQuantity(e,item))"
						class="form-control input-quantity"
						min="1"

						/>
					</div>
					<div>
						<button class="btn-delete" @onclick="@(()=>RemoveCakeFromCart(item.CakeId,item.CakeTypeId))">
							删除
						</button>
					</div>
				</div>
				<div class="cart-cake-price">￥@(item.Price * item.Quantity)</div>
			</div>
		}
		<div class="cart-cake-price">
			总价 (@cakecart.Count):￥@cakecart.Sum(p=>p.Price * p.Quantity)
		</div>
	</div>
	<button @onclick="PlaceOrder" class = "btn btn-success float-ends mt-1">下订单</button>
}

@code {
	public List<CartCakeResponse> cakecart = null;
	string message = "正在加载购物车";
	bool orderPlaced = false;

	//初始化时获取购物车内的信息
	protected override async Task OnInitializedAsync()
	{
		orderPlaced = false;
		await LoadCart();
	}

	private async Task RemoveCakeFromCart(int cakeId,int cakeTypeId)
	{
		await cartservice.RemoveCakeFromCart(cakeId,cakeTypeId);
		await LoadCart();
	}

	private async Task LoadCart()
	{
		await cartservice.GetCarItemsCount();
		cakecart =await cartservice.GetCakeCarts();
		var cart = await cartservice.GetCakeCarts();
		if (cakecart!=null && cakecart.Count == 0)
		{
			message = "你的购物车是空的";	
		}
	}

	private async Task UpdateQuantity(ChangeEventArgs args,CartCakeResponse cake)
	{
		cake.Quantity = int.Parse(args.Value.ToString());
		if(cake.Quantity < 1){
			cake.Quantity = 1;
		}
		await cartservice.UpdateQuantity(cake);
	}

	private async Task PlaceOrder()
	{
		await orderservice.PlaceOrder();
		await cartservice.GetCarItemsCount();
		orderPlaced = true;
	}
}
